# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Damir\YandexDisk\Работа\Программирование\Java\Учёба\Java pre-project\Задачи\spring-helloworld\.idea/dataSources/
/dataSources.local.xml
